#search {
	width: 320px;
	padding: 8px 12px;
	margin: 8px;
}

#users-table {
	border-collapse: collapse;
	text-align: left;
}

#users-table tbody tr {
	cursor: pointer;
}

#users-table tbody tr:hover {
	background-color: #f5f5f5;
}

#users-table th, #users-table td {
	padding: 8px;
}
